/*  ============================== start Global rules  ============================== */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #848b8a;
    line-height: 24px;
    overflow-x: hidden;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins,sans-serif;
    color: #201f1f;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.2;
    transition: all .3s ease-out 0s;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

img {
    width: 100%;
    display: block;
}

ul,
ol{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

